<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Pinyon+Script|Rochester" rel="stylesheet">
    <style>
      @page{
  	size:A4 landscape;
  	/*margin: 5mm 10mm;*/
    margin-top: 0mm;
    margin-right: 10mm;
    margin-bottom: 0mm;
    margin-left: 10mm;
}
            .ModalSevenKidsCodeVerif  {
              width: 100%;
            }
            .ModalSevenKidsCodeVerif .cursive {
              font-family: "Pinyon Script", cursive;
            }

           .ModalSevenKidsCodeVerif .sans {
             font-family: "Open Sans", sans-serif;
           }
           
           .ModalSevenKidsCodeVerif .bold {
             font-weight: bold;
           }
           
           .ModalSevenKidsCodeVerif .block {
             display: block;
           }
           
           .ModalSevenKidsCodeVerif .underline {
             padding: 5px;
             margin-bottom: 15px;
           }
           
           .ModalSevenKidsCodeVerif .margin-0 {
             margin: 0;
           }
           
           .ModalSevenKidsCodeVerif .padding-0 {
             padding: 0;
           }
           
           .ModalSevenKidsCodeVerif .pm-empty-space {
             height: 40px;
             width: 100%;
           }
           
           .ModalSevenKidsCodeVerif .pm5-color {
             color: orangered;
           }
           
           .ModalSevenKidsCodeVerif .pm-certificate-container {
             width: 100%;
             background-color: #65a25c;
             color: #333;
             font-family: "Open Sans", sans-serif;
             box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
           }
           
           .ModalSevenKidsCodeVerif .pm-certificate-container .outer-border {
             width: 100%;
             border: 2px solid #fff;
             padding: 30px;
           }
           
           .ModalSevenKidsCodeVerif .pm-certificate-container .inner-border {
             width: 100%;
             border: 2px solid #fff;
             padding: 4px;
           }
           
           .ModalSevenKidsCodeVerif .pm-certificate-container .pm-certificate-border {
             width: 100%;
             height: 520px;
             border: 1px solid #e1e5f0;
             background-color: rgba(255, 255, 255, 1);
             background-image: none;
           }
           
           .ModalSevenKidsCodeVerif
             .pm-certificate-container
             .pm-certificate-border
             .pm-certificate-block {
             width: 100%;
             height: 200px;
           }
           
           .ModalSevenKidsCodeVerif
             .pm-certificate-container
             .pm-certificate-border
             .pm-certificate-header {
             margin-bottom: 10px;
           }
           
           .ModalSevenKidsCodeVerif
             .pm-certificate-container
             .pm-certificate-border
             .pm-certificate-title {
             position: relative;
             top: 40px;
           }
           
           .ModalSevenKidsCodeVerif
             .pm-certificate-container
             .pm-certificate-border
             .pm-certificate-title
             h2 {
             font-size: 34px !important;
           }
           
           .ModalSevenKidsCodeVerif
             .pm-certificate-container
             .pm-certificate-border
             .pm-certificate-body {
             padding: 20px;
           }
           
           .ModalSevenKidsCodeVerif
             .pm-certificate-container
             .pm-certificate-border
             .pm-certificate-body
             .pm-name-text {
             font-size: 20px;
           }
           
           .ModalSevenKidsCodeVerif
             .pm-certificate-container
             .pm-certificate-border
             .pm-earned {
             margin: 15px 0 20px;
           }
           
           .ModalSevenKidsCodeVerif
             .pm-certificate-container
             .pm-certificate-border
             .pm-earned
             .pm-earned-text {
             font-size: 20px;
           }
           
           .ModalSevenKidsCodeVerif
             .pm-certificate-container
             .pm-certificate-border
             .pm-earned
             .pm-credits-text {
             font-size: 15px;
           }
           
           .ModalSevenKidsCodeVerif
             .pm-certificate-container
             .pm-certificate-border
             .pm-course-title
             .pm-earned-text {
             font-size: 20px;
           }
           
           .pm-certificate-container
             .pm-certificate-border
             .pm-course-title
             .pm-credits-text {
             font-size: 15px;
           }
           
           .ModalSevenKidsCodeVerif
             .pm-certificate-container
             .pm-certificate-border
             .pm-certified {
             font-size: 12px;
           }
           
           .ModalSevenKidsCodeVerif
             .pm-certificate-container
             .pm-certificate-border
             .pm-certified
             .underline {
             margin-bottom: 5px;
           }
           
           .ModalSevenKidsCodeVerif
             .pm-certificate-container
             .pm-certificate-border
             .pm-certificate-footer {
             display: flex;
             gap: 4px;
             align-items: center;
             width: 650px;
             height: 100px;
             position: relative;
             left: 50%;
             margin-left: -325px;
             bottom: -105px;
            }
    </style>
</head>
<body>
   <div style="background: white; padding:3px; width: 100%;" class="ModalSevenKidsCodeVerif">
    <div class="containerse pm-certificate-container">
        <div class="outer-border">
            <div class="inner-border">
                <div class="pm-certificate-border col-xs-12">
                    <div style="position: relative;" class="row pm-certificate-header">
                        <div class="pm-certificate-title cursive col-xs-12 text-center">
                            <h2>SevenGps kids code Certificate of Completion</h2>
                        </div>
                        <span style="width: 190px; height: 150px; position: absolute; top: 90px; right: 20px;" class="pm-name-text bold">
                            {{!-- <img src="/images/badge.webp" alt="" /> --}}
                        </span>
                    </div>
                    <div class="row pm-certificate-body">
                        <div class="pm-certificate-block">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-2"></div>
                                    <div class="pm-certificate-name underline margin-0 col-xs-8 text-center">
                                        <span class="pm-name-text bold">TrueNorth Administrator</span>
                                    </div>
                                    <div class="col-xs-2"></div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-2"></div>
                                    <div class="pm-earned col-xs-8 text-center">
                                        <span class="pm-earned-text padding-0 block cursive">certified</span>
                                        <span style="text-transform: uppercase; font-size: 2rem;" class="pm-credits-text block bold sans">{{name}}</span>
                                    </div>
                                    <div class="col-xs-2"></div>
                                    <div class="col-xs-12"></div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-2"></div>
                                    <div class="pm-course-title col-xs-8 text-center">
                                        <span class="pm-earned-text block cursive">while completing the training course entitled</span>
                                    </div>
                                    <div class="col-xs-2"></div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-2"></div>
                                    <div class="pm-course-title underline col-xs-8 text-center">
                                        <span class="pm-credits-text block bold sans">{{course}}</span>
                                    </div>
                                    <div class="col-xs-2"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="pm-certificate-footer">
                                    <div style="flex: 1;" class="col-xs-4 pm-certified col-xs-4 text-center">
                                        <span style="text-decoration: underline;" class="pm-credits-text block sans">Buffalo City School District</span>
                                        <span style="text-align: center; display: flex; justify-content: center;" class="block underline">
                                            {{!-- <img src="{{QRCodeImage}}" alt="QR Code" style="height: auto; max-width: 72px; width: 72px;" /> --}}
                                        </span>
                                        <span style="text-decoration: underline;" class="bold block">Crystal Benton Instructional Specialist II, Staff Development</span>
                                    </div>
                                    <div style="flex: 1; position: relative;" class="col-xs-4 pm-certified col-xs-4 text-center">
                                        <span style="text-decoration: underline;" class="pm-credits-text block sans">Date Completed</span>
                                        <span class="pm-empty-space block underline">{{dateOfCertif}}</span>
                                        <span style="position: relative; top: -20px; left: 90px;" class="pm-empty-space block underline">
                                            {{!-- <img width="140" height="10" src="/images/sign3.jpg" alt="" /> --}}
                                        </span>
                                        <span style="text-decoration: underline;" class="bold block">DOB:</span>
                                        <span style="text-decoration: underline;" class="bold block">Social Security # (last 4 digits)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>